{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Whatsapp Stop Smoking Signup!</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}" id="name" name="name" placeholder="What's your name?" value="{{ form.name.data }}">
            {% for error in form.name.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            <br>

            <label for="email">Email:</label>
            <input type="text" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="email" name="email" placeholder="Your email will be used to contact you." value="{{ form.email.data }}">
            {% for error in form.email.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            <br>

            <label for="phone">Phone:</label>
            <input type="phone" class="form-control {% if form.phone.errors %}is-invalid{% endif %}" id="phone" name="phone" placeholder="Phone number e.g. +27844301161." value="{{ form.phone.data }}">
            {% for error in form.phone.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            <br>
        </div>

        <button type="submit" class="btn btn-success">Sign Up</button>
    </form>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}

                {% if "Error" in message[1]: %}
                    <div class="alert alert-warning">
                        {{ message[1] }}
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <strong>Success! </strong> {{ message[1] }}
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
